@import 'colors'

.iconLogo
	background-image url('../img/h_logo-l.png')
	width 100px
	height 50px
	background-size 100%
	background-repeat no-repeat
	background-position center
	margin-left 10px	

.imgCatContBackg
	background-color $catBackGray
	box-shadow inset 0 25px 40px -24px black
	min-height 50vh
	
	.brandsSpace
		
		.brandCatRow
			height 120px
			background-color black
			box-shadow inset 0 -70px 100px -80px $brandRowShadow
			
			.brandItem
				height 96%
				width 20%
				float left
				display flex
				justify-content center
				padding-top 10px !important
				
				span.brandId, span.brandName
					display none
				
				.brandItmImg
					background-size 70%
					cursor pointer
					background-repeat no-repeat
					width 73%
			
			.startingText
				font-size 16px
				color $regTextColor
				text-align center
				width 100%
				
@media(min-width 768px)
	.navMenuList
		position absolute
		right 10px
		
		.menuItmSign
			margin-top 15px
			font-size 14px
			color white
			transform scale(1.2, 1.8)			
				
@media(min-width 992px)
	.imgCatContBackg
		.brandsSpace
			.brandCatRow
				.brandItem
					.brandItmImg
						width 66%
						
@media(min-width 1200px)
	.imgCatContBackg
		.brandsSpace
			.brandCatRow
				.brandItem
					.brandItmImg
						width 51%


#appStoreFooter
	&.catalogo
		border hidden
		
.logRedBtnCont
	&.catalogo
		border hidden
		border-bottom 5px solid $regActiveBtn
		height 215px
		
		.askLog
			margin-top 30px
			margin-bottom 15px
			
		.redirectLogBtn
			width 306px
			

.l-regInv
	&.catalogo
		margin 10px auto
		width 305px