@import 'colors.styl'

.innerHeaderBrand
	height 180px
	box-shadow inset 0 17px 23px -22px white
	background-color black
	width 100%
	padding-top 32px
	border-bottom 1px solid white
	
	.headerBrandImg
		margin 0 auto
		background-size 74%
		height 115px
		width 135px
		
.mainCatBrandCont
	&.garage
		background-color $garageBack