$navbarBack = #080808
$regBrd = #262626
$regInpBackgr = #1a1a1a
$regPosListsBack = #201f1f
$regPosItmHv = #292929
$psFrAlias = #33AEF4
$greenOk = #67f64b
$regTextColor = #585858
$footStorBack = #b7b7b7
$regActiveBtn = #35c9c7
$redirectBox = #3d3d3d
$grayBtn = #999
$catBackGray = #D9D9D9
$brandRowShadow = #515050
$garageBack = #ccc
$headModelTxt = #ECE4E4
$carHoverMsg = #2d2c2c
$carHoverMsgBrd = #6b6b6b
$grayNoColor = #cfcfcf
$backBtn = #7d7c7c
$grayVersionsInfo = #666
$brandRowBrd = #262626
$addGarageBtnShadow = #7d7d7d
