$navbarBack = #080808
$regInpBackgr = #1a1a1a
$regPosListsBack = #201f1f
$regPosItmHv = #292929
$psFrAlias = #33AEF4
$greenOk = #67f64b
$footStorBack = #b7b7b7
$regActiveBtn = #35c9c7
$redirectBox = #3d3d3d
$brandRowShadow = #515050
$garageBack = #ccc
$headModelTxt = #ECE4E4
$grayNoColor = #cfcfcf
$backBtn = #7d7c7c
$brandRowBrd = #262626
$addGarageBtnShadow = #7d7d7d

/*grays*/

$regTextColor = #585858
$grayVersionsInfo = #666666
$regBrd = #262626
$grayBtn = #999
$catBackGray = #D9D9D9
$carHoverMsg = #2d2c2c
$carHoverMsgBrd = #6b6b6b
$fichaTecnicaRow = #252525
$fichaTecnicaWords = #676767
