@import 'colors.styl'

body
	margin 0 auto !important
	font-family Roboto sans-serif
	padding 0px
	
	.container-fluid
		&.login,  &.registro
			margin-top 70px
		
		&.conNav
			margin-top 40px
		
		&.conInnerHead
			margin-top 191px

.grayColor
	color $grayNoColor !important
	fill $grayNoColor !important
	
.hiddenItm
	display none !important
	
.defaultPointer
	cursor default

.myNavBar
	position fixed !important
	top 0
	left 0
	z-index 10
	width 100vw
	height 40px !important
	min-height 40px !important
	box-sizing content-box
	background-color $navbarBack !important
	
	&.noBacKBtn
		div
			.navbarBackBtn
				display none
				
	&.withSuperTop
		div
			#navbar
				top -11px
	
	div
		.navbarBackBtn
			position absolute
			left 12px
			top 8px
			font-size 22px
			cursor pointer

		.navbar-header
			height 40px
			margin-left 45px
			
			button.navbar-toggle
				margin-bottom 0
				margin-top 2px
		
		#navbar
			background-color $navbarBack
			width 100%
			margin-top 0
			position relative
			top -1px
			
			&.superTop
				top -11px
			
			.navMenuList
				
				li 
					height 40px !important
					
					a 
						height 39px !important
						line-height 10px !important
						border-right 1px solid white
						font-size 14px
						
					&:last-of-type
						a
							border-right hidden
							
@media(min-width 768px)
	.myNavBar
		div
			.navbarBackBtn
				left -40px
				
			.navbar-header
				margin-left 0px
			
.iconLogo
	background-image url('../img/h_logo-l.png')
	width 100px
	height 40px
	background-size 100% !important
	background-repeat no-repeat 
	background-position center !important
	margin-left 0px	

				
@media(min-width 768px)
	.myNavBar
		div
			
			#navbar
				position initial
				
				.navMenuList
					position absolute
					right 10px
					
					.menuItmSign
						margin-top 15px
						font-size 14px
						color white
						transform scale(1.2, 1.8)
						display none	

.form-control
	&.myFormContr
		background-color transparent
		border hidden

.myFormContr
	background-color transparent
	border hidden		

.noPadding
	padding 0px !important
	&.half
		padding 0 7.5px 0 7.5px !important
	&.butVertHalf
		padding 7.5px 0 !important
		
	&.butVertHalf13
		padding 6.5px 0 !important
		
.butVertHalf
	padding 7.5px 0 !important		

.butVertHalf13
	padding 6.5px 0 !important

.NoleftP
	padding-left 0 !important
	&.halfR
		padding-right 7.5px !important
			
.NorightP
	padding-right 0 !important
	&.halfL
		padding-left 7.5px !important
		
.NotopP
	padding-top 0 !important
.NobottomP
	padding-bottom 0 !important			

.noMargin
	margin-left 0px !important
	margin-right 0px !important
	margin-top 0px !important
	margin-bottom 0px !important
.NoleftM
	margin-left 0px !important
	&.halfMR
		margin-right 7.5px
.NorightM
	margin-right 0px !important
	&.halfML
		margin-left 7.5px
.NobottomM
	margin-bottom 0px !important
.NotopM
	margin-top 0px !important		
		
.childHeight
	overflow auto	
	

.backImg
	background-size cover
	background-position top left
	background-clip content-box
	&.circ
		boder-radius 50%
		
	&.backSz
		background-size 85%
		background-repeat no-repeat
	
	&.centerBackImg
		background-position center	

.regInputs
	color white
	padding-left 12px
	padding-right 12px
	font-size 12px
	text-align left
		
.mainFooter
	background-color black
			