@import 'colors'


#l-email
	background-color transparent !important

#l-passCont
	transition all linear 200
	
#recoverPassTxt, #subBtnRecTxt
	display none	

.errorLogin
	color red
	display none

.passRecover
	width 100%
	text-align center
	cursor pointer
	margin-top 21.5px
	font-size 12px
	color $regTextColor

.l-regInv
	text-align left
	color $regTextColor
	width 94%
	font-size 14px
	margin-left 10px
	
	&.scnTxt
		text-align center
		margin 10px 0

.passModalCont
	width 98.2vw
	height 100vh
	background-color rgba(210, 210, 210, .3)
	position fixed
	top 0
	left 0
	display none
	justify-content center
	z-index 1000
	
	.recoverPassModal
		width 40%
		height 30%
		margin-top 35%
		background-color black
		text-align center
		border 1px solid $redirectBox
		
		.passRecTitles
			font-size 18px
			color white
		
		.recPassMdTxt
			text-align left
			color $regTextColor
			width 94%
			font-size 14px
	
