@import 'colors'


#l-email
	background-color transparent !important

#l-passCont
	transition all linear 200
	
#recoverPassTxt, #subBtnRecTxt
	display none	

.errorLogin
	color red
	display none

.passRecover
	width 100%
	text-align center
	cursor pointer
	margin-top 21.5px
	font-size 12px
	color $regTextColor

#l-regInv
	text-align left
	color $regTextColor
	width 94%
	font-size 14px
	margin-left 10px
	
