@import 'colors'


#l-email
	background-color transparent !important

#l-passCont
	transition all linear 200
	
#recoverPassTxt, #subBtnRecTxt
	display none	

.errorLogin
	color red
	display none

.passRecover
	width 100%
	text-align center
	cursor pointer

#l-regInv
	text-align left
	color $regBrd
	font-size 16px
	
