.p-header
	position relative

	.p-headerBackImg
		background-image url('http://images.mazdamexico.com.mx/MusaWeb/mexico3/img/vlp/panels/M3H/exteriorView/RojoBrillante/Negro/img_vlp_360_Mazda3_5dr_Negro_Rojo_Brillante_01.jpg');
		height 350px
		position relative
		color #fff
		background-position top center
	
	.p-profileInfoCont
		position relative
		
		.p-profilePhoto
			background-image url('/img/profileDafault.png')



@media(min-width 992px)
	.p-header
		.p-headerBackImg
			height 400px
			background-position left